// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main {
  text-align: center;
  top: 30%;
  width: 99%;
  position: absolute;
  line-height: 1em;
  color: white;
  font-family: Lobster;

  h1 {
    font-size: 4em;
    font-weight: normal;
  }

  p {
    font-size: 3em;
  }
}

// #clock{

// }

// #greeting{

// }