// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main {
  text-align: center;
  top: 30%;
  width: 99%;
  position: absolute;
  line-height: 1em;
  color: white;
  font-family: Lobster;

  h1 {
    font-size: 6vw;
    font-weight: normal;
  }

  p {
    font-size: 4vw;
  }
}

#quote {
  position: absolute;
  width: 99%;
  bottom: 3em;
  text-align: center;
  font-size: 1.75vw;
  // color: #18AAC9;
  color: white;
  text-shadow: 1px 1px 10px #2811bf;

  &:before {
    content: open-quote;
  }

  &:after {
    content: close-quote;
  }

}